body{
    background-color: #a9147b;
}

table{
    color: white;
    margin-top: 5%;
    background-color: black;
    border-radius: 30px;
    

}
input{
    background-color: white;
    padding: 7px;
}

#btn{
    background-color: green;
    
    height: 35px;
    width: 125px;
    border-radius: 25px;
    font-size: 17px;
}

#btn:hover{
    color: yellow;
    cursor: pointer;
}

h3{
    color: red;
}

